apiVersion: apps/v1
kind: Deployment
metadata:
  name: diabetes-api
  namespace: diabetes-prediction
spec:
  replicas: 2
  selector:
    matchLabels:
      app: diabetes
  template:
    metadata:
      labels:
        app: diabetes
    spec:
      containers:
      - name: diabetes-api
        image: kandarp53/diabetes_prediction:latest
        imagePullPolicy: Always
        ports:
        - containerPort: 8000
        resources:
          requests:
            cpu: 200m
            memory: 256Mi
          limits:
            cpu: 500m
            memory: 512Mi
