apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: fluent-bit
  namespace: diabetes-prediction
spec:
  selector:
    matchLabels:
      name: fluent-bit
  template:
    metadata:
      labels:
        name: fluent-bit
    spec:
      serviceAccountName: default
      containers:
        - name: fluent-bit
          image: fluent/fluent-bit:1.9
          command:
            - /fluent-bit/bin/fluent-bit
          args:
            - -c
            - /fluent-bit/etc/fluent-bit.conf
          volumeMounts:
            - mountPath: /fluent-bit/etc  
              name: config
              readOnly: true              
            - mountPath: /var/log
              name: varlog
              readOnly: true
      volumes:
        - name: varlog
          hostPath:
            path: /var/log
        - name: config
          configMap:
            name: fluent-bit-config