apiVersion: v1
kind: ConfigMap
metadata:
  name: fluent-bit-config
  namespace: diabetes-prediction
data:
  fluent-bit.conf: |
    [SERVICE]
        Flush           1
        Daemon          Off
        Log_Level       info
        Parsers_File    /fluent-bit/etc/parsers.conf

    [INPUT]
        Name            tail
        Path            /var/log/containers/*.log 
        Exclude_Path    *fluent-bit*
        Parser          docker
        Tag             kube.*
        Refresh_Interval 5

    [FILTER]
        Name              kubernetes
        Match             kube.*
        Merge_Log         On
        Keep_Log          On
        K8S-Logging.Parser On
        K8S-Logging.Exclude Off

    # [OUTPUT]
    #     Name            es
    #     Match           kube.*
    #     Host            10.255.255.254
    #     Port            9200
    #     Index           k8s-logs
    #     Type            _doc

    [OUTPUT]
        Name    stdout
        Match   kube.*
        Format  json_lines

  parsers.conf: |
    [PARSER]
        Name            docker
        Format          json
        Time_Key        time
        Time_Format     %Y-%m-%dT%H:%M:%S.%L%z 
        Time_Keep       On